//
// Cart Styles
//
.cart {
  padding-bottom: 40px;
}

.cart__items {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.cart__item {
  vertical-align: top;
  td {
    padding-top: 20px;
  }
}

.cart__item-img {
  width: 120px;
}

.cart__item-details {
  padding-left: 20px;
}

.cart__item-title {
  margin-bottom: 10px;
}

.cart__item-options {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #5c6e82;
  font-size: 14px;
}

.cart__item-delete {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.cart__item-increments {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart__item-price {
  margin-bottom: 3px;
}

.cart__summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #e9ecef;
}

.cart__summary-content {
  width: 44%;
  flex-basis: 44%;

  // This is a weak style
  h4 {
    margin-bottom: 8px;
  }
}

.cart__summary-total {
  width: 42%;
  border-collapse: collapse;

  tbody {
    border-bottom: 2px solid #c8d1d9;
    td {
      border-bottom: 1px dashed #c8d1d9;
    }

    tr {
      &:last-child {
        td {
          border: 0;
        }
      }
    }
  }

  tfoot {
    font-size: 20px;
    font-weight: 700;

    td {
      padding: 8px 0;
      border-top: 2px solid #c8d1d9;
    }
  }
}

.cart__actions {
  text-align: right;
}

.cart__item-actions {
  border-bottom: 1px solid #ddd;
}

.button__cell {
  padding: 15px 0;
  width: 160px;
  text-align: right;
}

.cart__wrapper {
  overflow: scroll;
  height: 100%;
  display: none;
  .slideInUp & {
    display: block;
  }
}

.app__cart-close {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  &:before,
  &:after {
    content: '';
    display: block;
    background-color: $blue;
    position: absolute;
    transition: all 0.2s;
    width: 24px;
    height: 3px;
  }
  &:before {
    transform: rotate(135deg);
  }
  &:after {
    transform: rotate(45deg);
  }
  &:hover {
    &:before {
      transform: rotate(315deg);
    }
    &:after {
      transform: rotate(225deg);
    }
  }
  .slideInUp & {
    display: flex;
  }
}

.cart__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 99;
  &.hidden {
    display: none;
  }
}