//
// Simple Grid
//

//
// Variables
$grid-cols: 12;
$grid-gap: 20px;

.grid {
  display: flex;
  flex: 1 0 0;
  flex-wrap: wrap;
  margin-right: $grid-gap / -2;
  margin-left: $grid-gap / -2;
}

.grid__col {
  margin-bottom: $grid-gap;
  padding-right: $grid-gap / 2;
  padding-left: $grid-gap / 2;
}

@for $i from 1 through $grid-cols {
  .grid__col--#{$i} {
    flex-basis: percentage($i / $grid-cols);
    width: percentage($i / $grid-cols);
  }
}

@each $point, $size in $breakpoints {
  @media (min-width: $size) {
    @for $i from 1 through $grid-cols {
      .grid__col--#{$point}-#{$i} {
        flex-basis: percentage($i / $grid-cols);
        width: percentage($i / $grid-cols);
      }
    }
  }
}
