//
// Image Block Styles
//

.img-block {
  position: relative;
}

.img-block__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.92);
  text-align: center;

  img {
    width: auto;
    max-height: 100%;
  }
}
